pip<24
setuptools<82
wheel<0.45
sphinx<9.0
sphinx-autobuild
rstcheck
sphinxcontrib-blockdiag
sphinxcontrib-seqdiag
sphinxcontrib-actdiag
sphinxcontrib-nwdiag
sphinx-copybutton
sphinx-tabs
sphinx-toolbox
sphinx-intl
sphinxcontrib-googleanalytics
myst_parser
sphinxcontrib-mermaid